In [1]:
from pydataset import data
import pandas as pd

initiated datasets repo at: C:\Users\juhra\.pydataset/

In [5]:
df_liga = data('Bundesliga')

In [21]:
df_liga

,Time da casa,Time visitante,Gols time da casa,Gols time visitante,Rodada,Ano,Data,Total de gols
1,Werder Bremen,Borussia Dortmund,3,2,1,1963,1963-08-24 09:30:00,5
2,Hertha BSC Berlin,1. FC Nuernberg,1,1,1,1963,1963-08-24 09:30:00,2
3,Preussen Muenster,Hamburger SV,1,1,1,1963,1963-08-24 09:30:00,2
4,Eintracht Frankfurt,1. FC Kaiserslautern,1,1,1,1963,1963-08-24 09:30:00,2
5,Karlsruher SC,Meidericher SV,1,4,1,1963,1963-08-24 09:30:00,5
...,...,...,...,...,...,...,...,...
14014,Arminia Bielefeld,Hannover 96,2,2,34,2008,2009-05-23 09:30:00,4
14015,Karlsruher SC,Hertha BSC Berlin,4,0,34,2008,2009-05-23 09:30:00,4
14016,1. FC Koeln,VfL Bochum,1,1,34,2008,2009-05-23 09:30:00,2
14017,Borussia Moenchengladbach,Borussia Dortmund,1,1,34,2008,2009-05-23 09:30:00,2
14018,Schalke 04,1899 Hoffenheim,2,3,34,2008,2009-05-23 09:30:00,5

1.Verificar os jogos com maior quantidade de gols na história da Bundesliga
2.Informar a data, os times participantes e o placar do jogo

In [7]:
df_liga["TotalGols"] = df_liga["HomeGoals"] + df_liga["AwayGoals"]

In [10]:
df_liga.columns

Index(['HomeTeam', 'AwayTeam', 'HomeGoals', 'AwayGoals', 'Round', 'Year',
       'Date', 'TotalGols'],
      dtype='object')

In [11]:
novas_colunas = {'HomeTeam': 'Time da casa', 
                 'AwayTeam': 'Time visitante',
                   'HomeGoals': 'Gols time da casa', 
                   'AwayGoals': 'Gols time visitante', 
                   'Round': 'Rodada', 
                   'Year': 'Ano',
                    'Date': 'Data', 
                    'TotalGols': 'Total de gols'

}

In [14]:
df_liga = df_liga.rename(columns=novas_colunas)

In [15]:
df_liga["Total de gols"].max()

12

In [24]:
jogos_mais_gols = df_liga.loc[df_liga["Total de gols"] == 12]

In [25]:
jogos_mais_gols[["Time da casa", "Time visitante", "Data", "Gols time da casa", "Gols time visitante"]]

,Time da casa,Time visitante,Data,Gols time da casa,Gols time visitante
81,Borussia Dortmund,1. FC Kaiserslautern,1963-11-16 09:30:00,9,3
2456,Bayern Muenchen,Borussia Dortmund,1971-11-27 09:30:00,11,1
4052,1. FC Koeln,Tennis Borussia Berlin,1977-02-26 09:30:00,8,4
4457,Borussia Moenchengladbach,Borussia Dortmund,1978-04-29 09:30:00,12,0
5788,Borussia Dortmund,Arminia Bielefeld,1982-11-06 09:30:00,11,1