In [3]:
import numpy as np 
import pandas as pd

In [86]:
df_saude_sono = pd.read_csv("saude_do_sono_estilo_vida.csv")

In [87]:
df_saude_sono.head()

,ID,Gênero,Idade,Ocupação,Duração do sono,Qualidade do sono,Nível de atividade física,Nível de estresse,Categoria BMI,Pressão sanguíneaaaa,Frequência cardíaca,Passos diários,Distúrbio do sono
0,1,Homem,27,Eng. de Software,6.1,6,42,6,Sobrepeso,126/83,77,4200,Nenhuma
1,2,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma
2,3,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma
3,4,Homem,28,Representante de Vendas,5.9,4,30,8,Obesidade,140/90,85,3000,Apneia do sono
4,5,Homem,28,Representante de Vendas,5.9,4,30,8,Obesidade,140/90,85,3000,Apneia do sono

1. Alterações:
"ID" para "Identificador"
Corrigir nome da coluna de pressão sanguínea
"Ocupação" para "Profissão"
"Categoria BMI" para "Categoria IMC"

In [91]:
novas_colunas = {
    "ID" : "Identificador",
    "Pressão sanguíneaaaa": "Pressão Sanguínea",
    "Ocupação": "Profissão",
    "Categoria BMI": "Categoria IMC"
}

In [92]:
df_saude_sono = df_saude_sono.rename(novas_colunas, axis = 1)

In [93]:
df_saude_sono.head()

,Identificador,Gênero,Idade,Profissão,Duração do sono,Qualidade do sono,Nível de atividade física,Nível de estresse,Categoria IMC,Pressão Sanguínea,Frequência cardíaca,Passos diários,Distúrbio do sono
0,1,Homem,27,Eng. de Software,6.1,6,42,6,Sobrepeso,126/83,77,4200,Nenhuma
1,2,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma
2,3,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma
3,4,Homem,28,Representante de Vendas,5.9,4,30,8,Obesidade,140/90,85,3000,Apneia do sono
4,5,Homem,28,Representante de Vendas,5.9,4,30,8,Obesidade,140/90,85,3000,Apneia do sono

2. Média, moda e mediana das horas de sono para cada profissão

In [106]:
df_sono_profissao = df_saude_sono[["Profissão", "Duração do sono"]]

In [107]:
df_sono_profissao.set_index("Profissão")

                         Duração do sono
Profissão
Eng. de Software                     6.1
Médico(a)                            6.2
Médico(a)                            6.2
Representante de Vendas              5.9
Representante de Vendas              5.9
...                                  ...
Enfermeiro(a)                        8.1
Enfermeiro(a)                        8.1
Enfermeiro(a)                        8.0
Enfermeiro(a)                        8.1
Enfermeiro(a)                        8.1

[373 rows x 1 columns]

In [108]:
df_sono_profissao_stats = df_sono_profissao.groupby("Profissão").mean(numeric_only= True)

In [115]:
df_sono_profissao_stats = df_sono_profissao_stats.rename(columns={"Duração do sono": "Média horas de sono"})

In [116]:
df_sono_profissao_stats["Mediana horas de sono"] = df_sono_profissao.groupby("Profissão").median()

In [122]:
df_sono_profissao_stats["Moda horas de sono"] = df_sono_profissao.groupby("Profissão").agg(pd.Series.mode)

In [158]:
df_sono_profissao_stats

,Média horas de sono,Mediana horas de sono,Moda horas de sono
Profissão,,,
Advogado(a),7.410638,7.3,7.2
Cientista,6.000000,6.0,"[5.8, 6.2]"
Contador(a),7.113514,7.2,7.2
Enfermeiro(a),7.048611,6.5,6.1
Eng. de Software,6.750000,6.8,7.5
Engenheiro(a),7.987302,8.3,8.4
Gerente,6.900000,6.9,6.9
Médico(a),6.970423,7.6,6.0
Pessoa Vendendora,6.403125,6.4,6.5
Professor(a),6.690000,6.6,6.6
Representante de Vendas,5.900000,5.9,5.9

3. Das pessoas que atuam com engenharia de software qual a porcentagem de obesos?

In [130]:
obesidade = df_saude_sono[df_saude_sono["Profissão"] =="Eng. de Software"]

In [138]:
obesidade["Categoria IMC"].value_counts(normalize=True) * 100

Categoria IMC
Peso normal    50.0
Sobrepeso      25.0
Obesidade      25.0
Name: proportion, dtype: float64

4. De acordo com os dados, advogar ou ser representante de vendas faz você dormir menos? (Use o método ‘isin’, considere a média)

In [154]:
df_sono_profissao_stats["Média horas de sono"].mean()

6.833964731364531

In [157]:
df_sono_profissao_stats.loc[["Advogado(a)", "Representante de Vendas"]]
#Resposta: Sim para Representade de vendas, não para advogado

,Média horas de sono,Mediana horas de sono,Moda horas de sono
Profissão,,,
Advogado(a),7.410638,7.3,7.2
Representante de Vendas,5.900000,5.9,5.9

5. Entre quem fez enfermagem e quem fez medicina, quem tem menos horas de sono? (Use o método ‘isin’, considere a média)

In [160]:
df_sono_profissao_stats.loc[["Enfermeiro(a)", "Médico(a)"]]
#Resposta: Médico

               Média horas de sono  Mediana horas de sono Moda horas de sono
Profissão
Enfermeiro(a)             7.048611                    6.5                6.1
Médico(a)                 6.970423                    7.6                6.0

6.Faça um subconjunto com as colunas Identificador, Gênero, Idade, Pressão sanguínea e Frequência cardíaca

In [166]:
subconjunto = df_saude_sono[["Identificador", "Gênero", "Idade", "Pressão Sanguínea", "Frequência cardíaca"]]

7. Descubra qual a profissão menos frequente no conjunto. (Use value_counts)

In [175]:
df_saude_sono["Profissão"].value_counts(ascending=True)

Profissão
Gerente                     1
Representante de Vendas     2
Eng. de Software            4
Cientista                   4
Pessoa Vendendora          32
Contador(a)                37
Professor(a)               40
Advogado(a)                47
Engenheiro(a)              63
Médico(a)                  71
Enfermeiro(a)              72
Name: count, dtype: int64

8.Quem tem maior pressão sanguínea média, homens ou mulheres? (Considere a média)

In [187]:
media_pressao_genero = df_saude_sono[["Gênero", "Pressão Sanguínea"]]

In [201]:
media_pressao_genero.set_index("Gênero")

       Pressão Sanguínea Tensão sistólica Tensão diastólica
Gênero
Homem             126/83              126                83
Homem             125/80              125                80
Homem             125/80              125                80
Homem             140/90              140                90
Homem             140/90              140                90
...                  ...              ...               ...
Mulher            140/95              140                95
Mulher            140/95              140                95
Mulher            140/95              140                95
Mulher            140/95              140                95
Mulher            140/95              140                95

[373 rows x 3 columns]

In [195]:
media_pressao_genero[["Tensão sistólica", "Tensão diastólica"]] = media_pressao_genero["Pressão Sanguínea"].str.split("/", expand=True)

C:\Users\juhra\AppData\Local\Temp\ipykernel_7120\3612677341.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  media_pressao_genero[["Tensão sistólica", "Tensão diastólica"]] = media_pressao_genero["Pressão Sanguínea"].str.split("/", expand=True)
C:\Users\juhra\AppData\Local\Temp\ipykernel_7120\3612677341.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  media_pressao_genero[["Tensão sistólica", "Tensão diastólica"]] = media_pressao_genero["Pressão Sanguínea"].str.split("/", expand=True)

In [206]:
media_pressao_genero[["Tensão sistólica", "Tensão diastólica"]] = media_pressao_genero[["Tensão sistólica", "Tensão diastólica"]].astype(int)

C:\Users\juhra\AppData\Local\Temp\ipykernel_7120\2081814149.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  media_pressao_genero[["Tensão sistólica", "Tensão diastólica"]] = media_pressao_genero[["Tensão sistólica", "Tensão diastólica"]].astype(int)

In [208]:
media_pressao_genero.groupby("Gênero").mean(["Tensão sistólica", "Tensão diastólica"])
#Resposta: mulheres

        Tensão sistólica  Tensão diastólica
Gênero
Homem         126.941799          83.015873
Mulher        130.146739          86.271739

9.É predominante entre os participantes dormir 8 horas por dia
(considere usar Moda como medida)?

In [211]:
df_saude_sono["Duração do sono"].mode()

0    7.2
Name: Duração do sono, dtype: float64

10. Pessoas com frequências cardíacas acima de 70 dão mais passos que pessoas com frequência cardíaca menor ou igual a 70? (Use a média)

In [218]:
frequencia_menos_70 = df_saude_sono[df_saude_sono["Frequência cardíaca"] <= 70]
frequencia_mais_70 = df_saude_sono[df_saude_sono["Frequência cardíaca"] > 70]

In [221]:
frequencia_menos_70["Passos diários"].mean()

7006.666666666667

In [222]:
frequencia_mais_70["Passos diários"].mean()
#Resposta: Falso.

6472.932330827068